[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "==1.5.3"
httplib2 = "==0.18.0"
oauth2client = "==3.0.0"
pyasn1 = "==0.1.9"
pyasn1-modules = "==0.0.8"
rsa = "==3.4.2"
simplejson = "==3.8.2"
six = "==1.10.0"
uritemplate = "==0.6"
bs4 = "*"
requests = "*"

[requires]
python_version = "3.7"
